body {
    margin: 2rem;
    background-color: #eee;
}

.nav-itEm {
    padding: 10px 10px;
}

.nav-itEm a {
    color: darkviolet;
}

.tab-menu {
    background-color: #fff;
}

.tab-menu li {
    text-align: left;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: lightcoral;
    border-left: 1px solid lightcoral;
    background-color: transparent;
}

.plan-card {
    box-shadow: 5px 10px 18px #888888;
}

.profile_header {
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    color: darkviolet;
    margin-bottom: 30px;
}

.form_group {
    display: block;
}

.edit-btn {
    background-color: darkviolet;
    color: #fff;
    border: none;
    padding: 10px 40px;
}

.subscription_one {
    border: 3px solid grey;
    height: 114px;
    padding: 3px 20px;
    list-style: none;
    background-color: #fff;
    box-shadow: 5px 10px 18px #888888;
    margin-bottom: 20px;
}

.subscription_two {
    border: 3px solid blue;
    height: 114px;
    padding: 3px 20px;
    list-style: none;
    background-color: #fff;
    box-shadow: 5px 10px 18px #888888;
    margin-bottom: 20px;
}

.subscription_three {
    border: 3px solid lightgreen;
    height: 114px;
    padding: 3px 20px;
    list-style: none;
    background-color: #fff;
    box-shadow: 5px 10px 18px #888888;
}

.subscription_one b,
.subscription_two b,
.subscription_three b {
    display: block;
    font-size: 15px;
}

.plan-wrapper p {
    font-weight: bold;
    font-size: 12px;
    width: 80%;
}

.float-p {
    font-weight: bold;
    margin-top: 2em;
}

.float-p p {
    width: 80%;
}

.title-head {
    text-align: center;
    color: darkviolet;
}

.plan-wrap p {
    font-weight: bold;
    font-size: 12px;
    width: 80%;
}

.float-p {
    font-weight: bold;
    margin-top: 2em;
}

.float-p a {
    color: darkviolet;
}

.right-btn a {
    color: darkviolet;
}